<!-- <a style="cursor: pointer" class="list-group-item clearfix" routerLinkActive="active" [routerLink]="[index]">
  <div class="pull-left">
    <h3 class="list-group-item-heading">{{recipe.name}}</h3>
    <em class="list-group-item-text">{{recipe.description}}</em>
  </div>
  <div class="pull-right">
    <img src="{{recipe.imgPath}}" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px;">
  </div>
</a> -->

<div class="col-sm-12 col-lg-6">
  <div class="panel panel-default" style="cursor: pointer;" routerLinkActive="active" [routerLink]="[index]">
    <div class="panel-heading" style="margin: 0px; padding: 0px">
      <div class="thumbnail">
        <img src="{{recipe.imgPath}}" alt="{{recipe.name}}" class="img-responsive">
      </div>
    </div>
    <div class="panel-body">
      <h4 class="list-group-item-heading">{{recipe.name | slice:0:16}}</h4>
      <em class="list-group-item-text">{{recipe.description | slice:0:15}}...</em>
    </div>
  </div>
</div>
